extends layout

block content
  .row
    div.small-12.columns
      .panel.page-title
        h1 About
      .panel 
        p Soon we will be adding more information here to tell you what the wheresthebear project is all about. 
        p Watch this space.