extends layout

block content
  div.row
    div.small-12.medium-12.columns
      h1 About
      p Soon we will be adding more information here to tell you what the wheresthebear project is all about. 
      p Watch this space.