h2 You've found me... hooray!
ul
  li Take photos! 
  li Tweet them with the <a href="https://twitter.com/search?q=%23wheresthebear">#wheresthebear</a> hashtag.
  li Send me on my next adventure!
img.th(src="/img/bear1/found-me.jpg")
