extends layout

block content
  div.row
    div.small-12.medium-8.columns
      h1=title
      h3 Welcome to wheresthebear.org. Thanks for stopping by!
    div.small-12.medium-4.columns
      br
      include twitter