extends layout

block content
  .row

    .small-12.medium-8.columns
      h1 You've found me. Now what?

      .panel.radius
        h2 This is how I was made!
        h3 Jan 4th 2014
        ul.small-block-grid-1
          li
            h6 My friends found me in a traditional toy shop in the historic city of Chester
            a.th(href="/img/bear1/IMG_2484.JPG")
              img(src="img/bear1/IMG_2484.JPG")
            
          li
            h6 They took me to the pub - just for a morning coffee, honest!
            a.th(href="/img/bear1/IMG_2490.JPG")
              img(src="img/bear1/IMG_2490.JPG")
        h6 A special tag was made just for me to tell people who I am.
        ul.small-block-grid-3
          li
            a.th(href="/img/bear1/IMG_2494.JPG")
              img(src="img/bear1/IMG_2494.JPG")
          li
            a.th(href="/img/bear1/IMG_2497.JPG")
              img(src="img/bear1/IMG_2497.JPG")
          li
            a.th(href="/img/bear1/IMG_2498.JPG")
              img(src="img/bear1/IMG_2498.JPG")
        ul.small-block-grid-1
          li
            h6 I wear my tag with pride. It's so shiny!
            a.th(href="/img/bear1/IMG_2501.JPG")
              img(src="img/bear1/IMG_2501.JPG")

      .panel.radius
        h2 This is how I was made!
        h3 Jan 4th 2014
        ul.small-block-grid-1
          li
            h6 My friends found me in a traditional toy shop in the historic city of Chester
            a.th(href="/img/bear1/IMG_2484.JPG")
              img(src="img/bear1/IMG_2484.JPG")
            
          li
            h6 They took me to the pub - just for a morning coffee, honest!
            a.th(href="/img/bear1/IMG_2490.JPG")
              img(src="img/bear1/IMG_2490.JPG")
        h6 A special tag was made just for me to tell people who I am.
        ul.small-block-grid-3
          li
            a.th(href="/img/bear1/IMG_2494.JPG")
              img(src="img/bear1/IMG_2494.JPG")
          li
            a.th(href="/img/bear1/IMG_2497.JPG")
              img(src="img/bear1/IMG_2497.JPG")
          li
            a.th(href="/img/bear1/IMG_2498.JPG")
              img(src="img/bear1/IMG_2498.JPG")
        ul.small-block-grid-1
          li
            h6 I wear my tag with pride. It's so shiny!
            a.th(href="/img/bear1/IMG_2501.JPG")
              img(src="img/bear1/IMG_2501.JPG")


    .small-12.medium-4.columns
      br
      include twitter
