extends layout

block content
  div.row
    div(class="small-1 column")
      &nbsp;
    div(class="small-6 columns")
      h1=title
      h3 Welcome to wheresthebear.org. Thanks for stopping by!
    div(class="small-4 columns")
      a(class="twitter-timeline" href="https://twitter.com/search?q=%23wheresthebear" data-widget-id="424987270261665792") Tweets about #wheresthebear
      script
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

    div(class="small-1 column")
      &nbsp;