extends layout

block content
  div.row
    div(class="small-1 column")
      &nbsp;
    div(class="small-10 columns")
      h1=title
      h3 Welcome to wheresthebear.org. Thanks for stopping by!
    div(class="small-1 column")
      &nbsp;