extends layout

block content
  .row

    .small-12.medium-8.columns
      .panel.page-title
        h1 My Adventures So Far
      .panel.radius.found.main
        include found

      .panel.radius.post
        h2 This is how I was made!
        h3 Jan 4th 2014

        ul.small-block-grid-1
          li
            p My friends found me in a traditional toy shop in the historic city of Chester.
            a.th(href="/img/bear1/0001.jpg")
              img(src="img/bear1/0001.jpg")
          
          li
            p They took me to the pub - just for a morning coffee, honest!
            a.th(href="/img/bear1/0002.jpg")
              img(src="img/bear1/0002.jpg")

        p A special tag was made just for me to tell people who I am.
        ul.small-block-grid-3
          li
            a.th(href="/img/bear1/0003.jpg")
              img(src="img/bear1/thumbs/0003.jpg")
          li
            a.th(href="/img/bear1/0004.jpg")
              img(src="img/bear1/thumbs/0004.jpg")
          li
            a.th(href="/img/bear1/0005.jpg")
              img(src="img/bear1/thumbs/0005.jpg")

        ul.small-block-grid-1
          li
            p I wear my tag with pride. It's so shiny!
            a.th(href="/img/bear1/0006.jpg")
              img(src="img/bear1/0006.jpg")



    .small-12.medium-4.columns
      .panel.radius.found.sidebox
        include found

      br
      include twitter
