extends layout

block content
  .row

    .small-12.medium-8.columns
      h1=title
      h3 Welcome to wheresthebear.org. Thanks for stopping by!

    .small-12.medium-4.columns
      br
      a(class="twitter-timeline" href="https://twitter.com/search?q=%23wheresthebear" data-widget-id="424987270261665792") Tweets about #wheresthebear
      script
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
