extends layout

block content
  h1 Style Library
  h3 Here we set up elements from Foundation in JADE so that we can see what the page looks like and easily re-use them

  hr

  h1 heading 1
  h2 heading 2
  h3 heading 3
  h4 heading 4
  h5 heading 5
  h6 heading 6

  hr

  span.label Basic Label
  br
  br
  span(class="secondary label") Secondary Label
  br
  br
  span(class="alert label") Alert Label
  br
  br
  span(class="success label") Success Label
  br
  br
  span(class="round label") Round Labels
  &nbsp;
  span(class="round secondary label") Round Labels
  &nbsp;
  span(class="round alert label") Round Labels
  &nbsp;
  span(class="round success label") Round Labels

  hr

  div.panel This is a panel
