nav.top-bar {
  margin-bottom: 16px;
}

.panel.page-title {
  background: none;
  border: none;
}

.panel.post {
  background-color: #eeeeee;
}

.panel.post p {
  line-height: 1.4;
  color: #333;
  font-weight: 300;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

.panel.post h2 {
    font-size: 1.6875rem; 
}

.panel.post h3 {
  font-size: 1.375rem; 
}

.panel.found ul,
.found ul {
  margin: 0;
}

.panel.found li,
.found li {
  line-height: 1.4;
  color: #333;
  font-weight: 300;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  margin-left: 0; 
  list-style-type: none;
}

/* Small specific styles */
@media only screen and (max-width: 40em) {
  .panel.found.main {
      display: block;
  }
  .panel.found.sidebox {
      display: none;
  }
}

/* medium and above specific styles */
@media only screen and (min-width: 40.063em) {
  .panel.found.main {
      display: none;
  }
  .panel.found.sidebox {
      display: block;
      background: #f8f8f8;
  }
  .twitter-timeline {
      height: 1500px;
  }
}

footer hr {
  margin-top: 2rem;
  margin-bottom: 4rem;
}